version: "3.9"

services:
  cuda-notebook:
    build:
      context: .
      dockerfile: Dockerfile
    image: cuda-python-notebook
    container_name: cuda-notebook
    volumes:
      - .:/workspace
    working_dir: /workspace
    ports:
      - "8888:8888"
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    command: >
      bash -c "
        jupyter lab --ip=0.0.0.0 --no-browser --allow-root --NotebookApp.token=''
      "
